#home-category {
  background-color: #fff;
  padding: 10px;

  .carousel-item {
    ul {
      width: 100%;
      height: auto;
    }
    li {
      display: block;
      list-style: none;
      width: 20%;
      background-repeat: no-repeat;
      background-size: 50px auto;
      background-position: top center;
      text-align: center;
      padding-top: 50px;
      color: #666;
      font-size: 14px;
    }
    li.jingdian {
      background-image: url('/static/img/sight_icon.png');
    }
    li.ktv {
      background-image: url('/static/img/ktv_icon.png');
    }
    li.gouwu {
      background-image: url('/static/img/shopping_icon.png');
    }
    li.shenghuofuwu {
      background-image: url('/static/img/life-service_icon.png');
    }
    li.jianshenyundong {
      background-image: url('/static/img/sport_icon.png');
    }
    li.meifa {
      background-image: url('/static/img/hairdressing_icon.png');
    }
    li.qinzi {
      background-image: url('/static/img/offspring_icon.png');
    }
    li.xiaochikuaican {
      background-image: url('/static/img/snck_icon.png');
    }
    li.zizhucan {
      background-image: url('/static/img/buffet_icon.png');
    }
    li.jiuba {
      background-image: url('/static/img/bar_icon.png');
    }
    li.meishi {
      background-image: url('/static/img/tasty-food_icon.png');
    }
    li.dianying {
      background-image: url('/static/img/film_icon.png');
    }
    li.jiudian {
      background-image: url('/static/img/hotel_icon.png');
    }
    li.xuixianyule {
      background-image: url('/static/img/entertainment_icon.png');
    }
    li.waimai {
      background-image: url('/static/img/take-out_icon.png');
    }
    li.huoguo {
      background-image: url('/static/img/chafingdish_icon.png');
    }
    li.liren {
      background-image: url('/static/img/beauty_icon.png');
    }
    li.dujiachuxing {
      background-image: url('/static/img/holiday_icon.png');
    }
    li.zuliaoanmo {
      background-image: url('/static/img/knead_icon.png');
    }
    li.zhoubianyou {
      background-image: url('/static/img/tour-around_icon.png');
    }
    li.ribencai {
      background-image: url('/static/img/japanese-food_icon.png');
    }
    li.SPA {
      background-image: url('/static/img/SPA_icon.png');
    }
    li.jiehun {
      background-image: url('/static/img/marrage_icon.png');
    }
    li.xuexipeixun {
      background-image: url('/static/img/study_icon.png');
    }
    li.xican {
      background-image: url('/static/img/west-food_icon.png');
    }
    li.huochejipiao {
      background-image: url('/static/img/train-airplane_icon.png');
    }
    li.shaokao {
      background-image: url('/static/img/barbecue_icon.png');
    }
    li.jiazhuang {
      background-image: url('/static/img/home-fitment_icon.png');
    }
    li.chongwu {
      background-image: url('/static/img/pet_icon.png');
    }
    li.quanbufenlei {
      background-image: url('/static/img/all-type_icon.png');
    }
  }

  .index-container {
    margin-top: 10px;

    ul {
      width: 100%;
      height: auto;
      text-align: center;
    }
    li {
      list-style: none;
      display: inline-block;
      height: 8px;
      width: 8px;
      border-radius: 4px;
      background-color: #ccc;
      margin: 0 3px;
    }
    li.selected {
      background-color: rgb(233, 32, 61);
    }
  }
}
