body {
  * {
    margin: 0;
    padding: 0;
  }
  background-color: #e1e1f1;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix:before{
  content: '';
  display: table;
  clear: both;
}